<html>
        <head>
            <link rel="stylesheet" href="/assets/style.css" rel="stylesheet" type="text/css">
        </head>
        <body>
            <h1>Person: <%= ID %></h1>
            <h2>Querystring value: <%= Q %></h2>
        </body>
    </html>